<?xml version="1.0"?>
<!--
	Copyright (c) 2011, Edwin van Maastrigt (evanmaastrigt@gmail.com)
	All rights reserved.

	Redistribution and use in source and binary forms, with or without
	modification, are permitted provided that the following conditions are met:

	* Redistributions of source code must retain the above copyright notice, this
	  list of conditions and the following disclaimer.

	* Redistributions in binary form must reproduce the above copyright notice,
	  this list of conditions and the following disclaimer in the documentation
	  and/or other materials provided with the distribution.

	THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
	AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
	IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE
	DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE
	FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL
	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR
	SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER
	CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
	OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE USE
	OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE
-->
<config>
    <modules>
        <Kwetal_DeleteOrders>
            <version>0.1.0</version>
        </Kwetal_DeleteOrders>
    </modules>
    <global>
		<rewrite>
        <kwetal_kwetaladmin_adminhtml_sales_order>
            <from><![CDATA[#/admin/sales_order/#]]></from>
            <to>/kwetaladmin/adminhtml_sales_order/</to>
        </kwetal_kwetaladmin_adminhtml_sales_order>
        </rewrite>		
        <blocks>
            <adminhtml>
                <rewrite>
                    <sales_order_grid>Kwetal_DeleteOrders_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>		
    </global>
	<admin>
        <routers>
            <kwetal_deleteorders>
                <use>admin</use>
                <args>
                    <module>Kwetal_DeleteOrders</module>
                    <frontName>kwetaladmin</frontName>
                </args>
            </kwetal_deleteorders>			
			<adminhtml>
				<args>
				  <modules>
					<Kwetal_DeleteOrders_Adminhtml before="Mage_Adminhtml">Kwetal_DeleteOrders_Adminhtml</Kwetal_DeleteOrders_Adminhtml>
				  </modules>
				</args>
			</adminhtml>
        </routers>
    </admin>
</config>
